<!-- <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div> -->
<!-- <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
    <div class="top-bar-left">
 -->
<!-- <ul class=" dropdown menu" data-dropdown-menu>
    <li class="menu-text">Site Title</li>
    {{#each global.pages}}
    <li><a href="{{page}}.html">{{title}}</a>
        {{> submenu type=menu}}
    </li>
    {{/each}}
</ul> -->
<style type="text/css">
#menu a {
    padding: 0.3rem 0 0.3rem 0;
}
</style>
<p class="text-center">
    <img src="{{root}}assets/img/protalentis_logo.jpg"><br>
    Pro Talentis Universitatis Alapítvány
</p>
<ul id="menu" class="vertical menu">
    {{#each global.pages}}
    <li {{#ifpage page}} class="is-active" {{/ifpage}}>
        <a class="{{link}}" href="{{root}}{{page}}.html">{{title}}</a>
        <span class="{{nolink}}">{{title}}</span>
        {{> submenu type=menu}}
    </li>
    {{/each}}
</ul>