<div class="grid-y medium-grid-frame">
    {{> grid_header}}
    <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3 medium-cell-block-y">
                {{> grid_sidebar}}
            </div>
            <div class="cell medium-9 medium-cell-block-y">
                {{> body}}
            </div>
        </div>
    </div>
<!--     <div class="cell shrink footer">
        {{> grid_footer}}
    </div> -->
</div>