{{#ifequal hir "news11"}}
{{#markdown}}
**A PRO TALENTIS UNIVERSITATIS ALAPÍTVÁNY pályázatot hirdet**

**a Tehetséggondozásban aktív SZTE munkatársak továbbképzési támogatására**, a 2025/2026. tanév második félévére.

Az ösztöndíjra azon SZTE-munkatársak pályázhatnak, akik szakmai tevékenységük során a tehetséggondozás területén releváns tapasztalattal rendelkeznek, és személyes, illetve szakmai fejlődésük révén hozzájárulhatnak az egyetemi, továbbá a Szegedi Tehetséggondozó Tanács és a Pro Talentis Universitatis Alapítvány tehetséggondozási céljainak megvalósulásához.

Az ösztöndíj mértéke: a kuratórium döntése alapján
**50 000 – 150 000 Ft**

A pályázat benyújtásának módja:
Az alább felsorolt mellékleteket emailben kell benyújtani a juniorakademia@szte.hu címre.

- rövid szakmai önéletrajz (Europass minta alapján)
- rövid motivációs levél a pályázat feltételeinek megfelelően

**A pályázatok benyújtási határideje:**<br>
2026. január 10.

**A pályázatok elbírálásának határideje:**<br>
2026. január 15.


{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news09"}}
{{#markdown}}

Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve

<p class="text-center"> <b>tanulmányi ösztöndíjpályázatot hirdet</b> </p>

felsőoktatási tanulmányokat folytató, kiváló sportteljesítmény mellett jó tanulmányi eredménnyel is rendelkező, élvonalbeli kosárlabdázóknak a 2025/2026 tanévre.

<p style="margin-bottom:0">A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:
</p>

- Aktív hallgatói jogviszony megléte a támogatás folyósításakor
- A pályázó hallgató az SZTE nevét viselő sportszervezetben, szakosztályban sportol, heti rendszerességgel részt vesz az egyesület, szakosztály munkájában.

**Az ösztöndíj mértéke:** a Tanács döntése alapján max. 150.000 Ft/hó.

**A pályázat benyújtásának módja:** <br>Az adatlapot és az alábbiakban felsorolt mellékleteket emailben kell benyújtani a juniorakademia@szte.hu email címre:

- Pályázati adatlap
- kiállított aktív hallgatói jogviszony igazolás
- Egyesület, szakosztály vezetőjének írásbeli támogató nyilatkozata
- Korábbi versenyeredmények igazolása

**A pályázatok benyújtási határideje:** 2025. október 10.

**A pályázatok elbírálásának határideje:** 2025. október 17.

A pályázattal kapcsolatos további információ <br>telefonon <a href="tel:+3662544696">+36 62 544 696</a>,<br>vagy e-mailben sziromi.szonja@szte.hu kérhető.

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news08"}}
{{#markdown}}
**A PRO TALENTIS UNIVERSITATIS ALAPÍTVÁNY**
pályázatot hirdet

**Nemzetközi tanulmányi csapatverseny**
támogatására


Pályázatot nyújthat be az, aki megfelel az alábbi feltételek mindegyikének:


Eredményesen pályázhat az az SZTE Junior Akadémia valamelyik partneriskolájában tanuló csapat, amely rangos haza versenyen elért eredményével jogot szerzett nemzetközi megmérettetésre, és a jövő tehetségeként vállalja a további együttműködést az SZTE Junior Akadémiával.


**A pályázat benyújtási határideje:** 2025. augusztus 28.


**Az ösztöndíj összege: 250 000 Ft**


<p style="margin-bottom: 0;">A pályázat benyújtásának módja:</p>

- Önéletrajz
- Motivációs levél
- Pályázati adatlap



Személyesen: 6720 Szeged, Dugonics tér 13.<br>
Emailben: sziromi.szonja@szte.hu
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news07"}}
{{#markdown}}
Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve

**pályázatot hirdet**

a tehetséggondozásban aktív SZTE munkatársak továbbképzési támogatására,
a 2024/2025. tanév második félévére.

A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:
* aktív részvétel a Szegedi Tehetséggondozó Tanács, a Pro Talentis Universitatis Alapítvány és az SZTE Junior Akadémia programjainak koordinálásában.
* közreműködés az egyetemi továbbtanulást elősegítő programok szervezésében.

Az ösztöndíj mértéke: a kuratórium döntése alapján<br>
**30.000 – 100.000 Ft**

A pályázat benyújtásának módja:<br>
Az alább felsorolt mellékleteket emailben kell benyújtani a juniorakademia@szte.hu címre.<br>
* rövid szakmai önéletrajz (Europass minta alapján)
* rövid motivációs levél a pályázat feltételeinek megfelelően

**A pályázatok benyújtási határideje:**<br>
2025. április 24.


**A pályázatok elbírálásának határideje:**<br>
2025. április 28.

**Prof. Dr. Badó Attila**<br>
a Pro Talentis Universitatis Alapítvány kuratóriumi elnöke

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news06"}}
{{#markdown}}
Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve

**pályázatot hirdet**

felsőoktatási tanulmányokat folytató, kiváló sportteljesítménnyel rendelkező, élvonalbeli kosárlabdázóknak a 2023/2024. tanévre.

A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:
* Aktív hallgatói jogviszony megléte a támogatás folyósításakor
* A pályázó hallgató az SZTE nevét viselő sportszervezetben, szakosztályban sportol, heti rendszerességgel részt vesz az egyesület, szakosztály munkájában.

**Az ösztöndíj mértéke: a Tanács döntése alapján max. 150.000 Ft/hó A pályázat benyújtásának módja: Az adatlapot és az alábbiakban felsorolt mellékleteket emailben kell benyújtani.**

* Pályázati adatlap
* kiállított aktív hallgatói jogviszony igazolás
* Egyesület, szakosztály vezetőjének írásbeli támogató nyilatkozata
* Korábbi versenyeredmények igazolása

**A pályázatok benyújtási határideje: október 10. napja.** A pályázatok elbírálásának határideje: A pályázat eredményéről legkésőbb **2023. október 12. napjáig** tájékoztatjuk a pályázókat. A pályázatot a juniorakademia@szte.hu email címre kell benyújtani.

A pályázattal kapcsolatos további információ *telefonon (62/544-696), vagy e-mailben (protalentisuni@gmail.com)* kérhető.


Prof. Dr. Badó Attila a Pro Talentis Universitatis Alapítvány kuratóriumi elnöke

{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news05"}}
{{#markdown}}
**Pályázati felhívás**

A Pro Talentis Universitatis Alapítvány
„Középiskolás Tehetségek Mentora” ösztöndíjpályázatot
hirdet tehetséggondozó tevékenységet végző középiskolai pedagógusok részére
a 2022/2023. tanév első félévére.

A pályázatok benyújtási határideje:<br>
**2023. február 5.**

**Az ösztöndíj mértéke:**<br>
a kuratórium döntése alapján<br>
**egyszeri 100.000 Ft**.

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news04"}}
{{#markdown}}
Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve pályázatot hirdet felsőoktatási tanulmányokat folytató, kiváló sportteljesítménnyel rendelkező, élvonalbeli kosárlabdázóknak a 2022/2023. tanévre. **A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:**
* Aktív hallgatói jogviszony megléte a támogatás folyósításakor
* A pályázó hallgató az SZTE nevét viselő sportszervezetben, szakosztályban sportol, heti rendszerességgel részt vesz az egyesület, szakosztály munkájában.

***Az ösztöndíj mértéke:*** **a Tanács döntése alapján max. 150 000 Ft/hó**
**A pályázat benyújtásának módja: Az adatlapot** és az alábbiakban felsorolt **mellékleteket** emailben kell benyújtani.
* Pályázati adatlap
* kiállított aktív hallgatói jogviszony igazolás
* Egyesület, szakosztály vezetőjének írásbeli támogató nyilatkozata
* Korábbi versenyeredmények igazolása

**A pályázatok benyújtási határideje: 2022. szeptember 20. napja.**

A pályázatok elbírálásának határideje:
A pályázat eredményéről legkésőbb 2022. szeptember 27. napjáig tájékoztatjuk a pályázókat.
A pályázatot a juniorakademia@szte.hu email címre kell benyújtani.
A pályázattal kapcsolatos további információ Kemény Zsanett koordinátortól kérhető
telefonon (62/544-696),
e-mailben (kemeny.zsanett@szte.hu).

Prof. Dr. Badó Attila
a Pro Talentis Universitatis Alapítvány kuratóriumi elnöke
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news03"}}
{{#markdown}}
[További információk](https://juniorakademia.szte.hu/osztondijak/#vallalati)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news02"}}
{{#markdown}}
A Pro Talentis Universitatis Alapítvány *ösztöndíjat hirdet joghallgatók számára, akik a jogösszehasonlítás művelése területén kiemelkedő teljesítményt nyújtottak*.

Pályázati feltételek:

* A Jogrendszerek Világa kurzus sikeres teljesítése
* A Jogrendszerek Világa kurzus oktatójának ajánlása
* Jelesre értékelt tanulmány készítése jogösszehasonlító módszerrel

Az ösztöndíj maximális összege **5000 Ft**
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news01"}}
{{#markdown}}
A Pro Talentis Universitatis Alapítvány meghirdeti a TOP ÉLELMISZERMÉRNÖK 2021 ösztöndíjat az SZTE Mérnöki Karának élelmiszermérnök BSc szakos hallgatói számára.

Pályázati határidő: 2021. január 10.

Az ösztöndíj a Mérnöki Karon oktató Dr. Véha Antal felajánlása alapján jöhetett létre.
{{/markdown}}
{{/ifequal}}