<szeged-onkormanyzat>
{{#ifequal page "szeged-onkormanyzat"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<universitas-szeged>
{{#ifequal page "universitas-szeged"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<bproduction>
{{#ifequal page "bproduction"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<givaudan>
{{#ifequal page "givaudan"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<epam>
{{#ifequal page "epam"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<soupport>
{{#ifequal page "soupport"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<dompatika>
{{#ifequal page "dompatika"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<banffiszoda>
{{#ifequal page "banffiszoda"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<teditrade>
{{#ifequal page "teditrade"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<contitech>
{{#ifequal page "contitech"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<pick>
{{#ifequal page "pick"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<sole>
{{#ifequal page "sole"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<printker>
{{#ifequal page "printker"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<vizmu>
{{#ifequal page "vizmu"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<sztedoktoriintezet>
{{#ifequal page "sztedoktoriintezet"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<naturalimmunecontrol>
{{#ifequal page "naturalimmunecontrol"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<sole>
{{#ifequal page "sole"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

<tehetsegpont>
{{#ifequal page "tehetsegpont"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}


<nkm>
{{#ifequal page "nkm"}}
{{#markdown}}
Hamarosan
{{/markdown}}
{{/ifequal}}

